<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.pet.mint.placeBoard.dao.PlaceBoardDao">
  
  


<insert id="placeBoardWrite" 
	parameterType="io.pet.mint.placeBoard.dto.PlaceBoardDto">
	
	INSERT INTO BOARD(BOARD_SEQ, BOARD_TYPE, BOARD_CATEGORY, BOARD_TITLE, BOARD_CONTENTS, ID, BOARD_LOCATION,
						BOARD_VIEW_COUNT, BOARD_REG_ID, BOARD_REG_DATE, BOARD_REF, BOARD_DEL)
	VALUES(SEQ_BOARD.NEXTVAL, '펫플레이스', #{boardCategory}, #{boardTitle}, #{boardContents:CLOB}, 'aaa', #{boardLocation},
			0, 'aaa', SYSDATE, (SELECT NVL(MAX(BOARD_SEQ), 0) + 1  FROM BOARD WHERE BOARD_TYPE='펫플레이스'), 0  )
	
</insert>


<select id="getPlaceBoardContent" 
	parameterType="java.lang.Integer" resultType="io.pet.mint.placeBoard.dto.PlaceBoardDto">
	
	SELECT BOARD_SEQ, BOARD_TYPE, BOARD_CATEGORY, BOARD_TITLE,
			BOARD_LOCATION, BOARD_VIEW_COUNT, ID,
			BOARD_REG_ID, TO_CHAR(BOARD_REG_DATE,'YYYY/MM/DD HH24:MI') AS BOARD_REG_DATE, 
			BOARD_UPD_ID, TO_CHAR(BOARD_UPD_DATE,'YYYY/MM/DD HH24:MI') AS BOARD_UPD_DATE,
			BOARD_REF, BOARD_CONTENTS
	FROM BOARD
	WHERE BOARD_SEQ = #{boardSeq}
	
	
</select>


<select id="getPlaceBoardList" parameterType="io.pet.mint.placeBoard.dto.PlaceBoardParam" 
	resultType="io.pet.mint.placeBoard.dto.PlaceBoardDto">
	SELECT  BOARD_SEQ, BOARD_TYPE, BOARD_CATEGORY, BOARD_TITLE,
			BOARD_LOCATION, BOARD_VIEW_COUNT, ID,
			BOARD_REG_ID, TO_CHAR(BOARD_REG_DATE,'YYYY/MM/DD HH24:MI') AS BOARD_REG_DATE, 
			BOARD_UPD_ID, TO_CHAR(BOARD_UPD_DATE,'YYYY/MM/DD HH24:MI') AS BOARD_UPD_DATE,
			BOARD_REF
	FROM 
		( SELECT ROW_NUMBER()OVER(ORDER BY BOARD_REF DESC)AS RNUM,
				BOARD_SEQ, BOARD_TYPE, BOARD_CATEGORY, BOARD_TITLE,
				BOARD_LOCATION, BOARD_VIEW_COUNT, ID,
				BOARD_REG_ID, BOARD_REG_DATE, BOARD_UPD_ID, BOARD_UPD_DATE,
				BOARD_REF
		  FROM BOARD
		  WHERE  1=1
			<if test="category != null and category != ''
				and keyword != null and keyword != ''">
				<if test="category == 'title'">
					AND BOARD_TITLE LIKE '%'||#{keyword}||'%'
				</if>
				<if test="category == 'content'">
					AND BOARD_CONTENTS LIKE '%'||#{keyword}||'%'
				</if>
				<if test="category == 'address'">
					AND BOARD_LOCATION LIKE '%'||#{keyword}||'%'
				</if>	
			</if>
			<if test="boardCategory != null and boardCategory != '' ">
				<if test="boardCategory == '동물병원'">
					AND BOARD_CATEGORY = '동물병원'
				</if>
				<if test="boardCategory == '애견카페'">
					AND BOARD_CATEGORY = '애견카페'
				</if>
				<if test="boardCategory == '카페'">
					AND BOARD_CATEGORY = '카페'
				</if>
				<if test="boardCategory == '음식점'">
					AND BOARD_CATEGORY = '음식점'
				</if>
			</if>
			AND BOARD_TYPE='펫플레이스'	
			AND BOARD_DEL=0
		) A
	WHERE RNUM BETWEEN ${start} AND ${end} 	
</select> 

<!-- 글의 총수 -->
<select id="getCount" parameterType="io.pet.mint.placeBoard.dto.PlaceBoardParam"
	resultType="java.lang.Integer">
	SELECT NVL(COUNT(*), 0) AS CNT
	FROM BOARD
	WHERE 1=1
	<if test="category != null and category != ''
		and keyword != null and keyword != ''">
		<if test="category == 'title'">
			AND BOARD_TITLE LIKE '%'||#{keyword}||'%'
		</if>
		<if test="category == 'content'">
			AND BOARD_CONTENTS LIKE '%'||#{keyword}||'%'
		</if>
		<if test="category == 'address'">
			AND BOARD_LOCATION LIKE '%'||#{keyword}||'%'
		</if>	
	</if>
	
	<if test="boardCategory != null and boardCategory != '' ">
		<if test="boardCategory == '동물병원'">
			AND BOARD_CATEGORY = '동물병원'
		</if>
		<if test="boardCategory == '애견카페'">
			AND BOARD_CATEGORY = '애견카페'
		</if>
		<if test="boardCategory == '카페'">
			AND BOARD_CATEGORY = '카페'
		</if>
		<if test="boardCategory == '음식점'">
			AND BOARD_CATEGORY = '음식점'
		</if>
	</if>
	AND BOARD_TYPE='펫플레이스'	
	AND BOARD_DEL=0
</select>

<update id="placeBoardUpdate" parameterType="io.pet.mint.placeBoard.dto.PlaceBoardDto">

UPDATE BOARD
SET BOARD_TITLE=#{boardTitle},
	BOARD_CONTENTS=#{boardContents:CLOB},
	BOARD_LOCATION=#{boardLocation},
	BOARD_UPD_ID=#{id},
	BOARD_UPD_DATE=SYSDATE,   
    BOARD_CATEGORY = #{boardCategory}
WHERE BOARD_SEQ=#{boardSeq}
     
</update>


<update id="placeBoardDelete" parameterType="java.lang.Integer">

UPDATE BOARD
SET BOARD_DEL = 1
WHERE BOARD_SEQ = #{boardSeq}

</update>
</mapper>