<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="io.pet.mint.member.dao.MemberDao">

<select id="allMember" resultType="io.pet.mint.member.vo.MemberVO">
	SELECT * FROM MEMBER
</select>

<select id="getId" parameterType="java.lang.String" resultType="java.lang.Integer">
	SELECT NVL(COUNT(*), 0)
	FROM MEMBER
	WHERE ID=#{id}
</select>

<insert id="addmember" parameterType="io.pet.mint.member.vo.MemberVO">
	INSERT INTO MEMBER(ID, PWD, NICKNAME, AUTH, REG_DATE, DEL, SIGNUP_TYPE, INFO_AGREE, PHONE)
	VALUES(#{id},
			#{pwd},
			#{nickname, jdbcType=VARCHAR}, 
			0, 
			SYSDATE, 
			#{del,  jdbcType=INTEGER}, 
			#{signup_type,  jdbcType=VARCHAR}, 
			#{info_agree,  jdbcType=VARCHAR}, 
			#{phone,  jdbcType=VARCHAR}
			)
</insert>

<select id="login" parameterType="io.pet.mint.member.vo.MemberVO"
	resultType="io.pet.mint.member.vo.MemberVO">
	SELECT *
	FROM MEMBER
	WHERE ID=#{id} AND PWD=#{pwd}
</select>

<update id="myinfo_update" parameterType="io.pet.mint.member.vo.MemberVO">
	UPDATE MEMBER 
	SET PWD, NICKNAME
	WHERE PWD=#{pwd} OR NICKNAME=#{nickname}

<update id="changePasswd" parameterType="User">
    UPDATE MEMBER
    SET PWD=#{pwd}
    WHERE email = #{email}
</update>

</mapper>