@charset "UTF-8";

.freeH1{
	padding-top:60px;
	font-size: 60px;
	text-align: center;
	font-weight : normal;
}

.freeDiv{
	padding-top : 20px;	
}

.freeTable{
	border-top: 2px solid #dcdcdc;
	margin-left : 300px;
	width : 1300px;
}

hr{
	width:150px;
	border-color:#FFB7;
	margin-top : 20px;
}

.freeTable tbody > tr:hover{
	background-color : #c0c0c0;
}

.admin{
	float:right;
	margin-right: 340px;
	background-color : black;
	color : white;
	border-radius : 5px;
	font-size : 20px;
	border : 1px;
}

.write{
	float : right;
	margin-right : 10px;
	border : 1px;
	border-radius : 5px;
	font-size : 20px;
}

.freeTable th{
	padding : 10px;
	border-bottom : 1px solid #dcdcdc;
}

.freeTable td{
	padding : 10px;
	border-bottom : 1px solid #dcdcdc;
	text-align : center;
}

.freewrite{
	width: 1200px;
	height : 650px;
	margin-top : 100px;
	margin-left : 350px;
	font-size : 25px;
}

.freeWriteH1{
	font-size : 60px;
	font-weight : normal;
	text-align : center;
}

.writeTable{
	margin : auto;
}

.writeTable th{
	text-align : left;
}

.writeTable tr{
	margin-top : 10px;
}

.boardTitle{
	width : 500px;
	height : 30px;
}

.boardContents{
	margin-top : 10px;
}

.freeWriteRegi{
	margin : inherit;
}

.num{
	width : 40px;
}

.title{
	width : 900px;
}

.name{
	width : 50px;
}

.date{
	width : 90px;
}

.view{
	width : 50px;
}
.like{
	width : 50px;
}

.searchWord{
	margin-left : 1250px;
}

.searchButton{
	background-color : black;
	color : white;
	border-radius : 5px;
	font-size : 20px;
	border : 1px;
}