.header__container {
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 1px 0 0 #60a1e1;
}
.header__wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.header__left {
    width: 30%;
    height: 100%;
    text-align: center;
}
.header__left img {
    width: 80%;
    max-width: 300px;
}

.header__center {
    width: 50%;
    height: 100%;
    position: relative;
}
.header__center input {
    width: 100%;
    height: 40px;
    border: 2px solid #60a1e1;
    border-radius: 5px;
    padding: 10px;
}
.header__center input::placeholder {
    font-size: 0.8rem;
}
.header__center input:focus {
    outline: none;
}
.header__center label {
    position: absolute;
    right: 0;
    width: 50px;
    text-align: center;
    color: white;
    line-height: 40px;
    background: #60a1e1;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}
.header__right {
    width: 20%;
    height: 100%;
}
.header-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}
.header__right ul {
    padding: 0;
}
.header__right ul li {
    list-style: none;
    cursor: pointer;
}
.header__right ul li:first-child {
    width: 40px;
    height: 40px;
    margin-right: 30px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("/images/alert.png");
}
.header__right ul li:last-child {
    background-color: orange;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: white;
}

/*스마터폰*/
@media(max-width: 768px) {
    .header__wrap {
        flex-wrap: wrap;
        padding: 5%;
    }
    .header__right,.header__left {
        display: none;
    }
    .header__center {
        width: 100%;
    }
}

/*태블릿*/
@media(max-width: 1024px) {

}