@charset "UTF-8";

.join_container,
.join_btn{
	display: flex;
	width: 100%;
	vertical-align: center;
	text-align: center;
	align-content: center;
	margin-left: 225px;
}

.login_container{
	 text-align: center;
}

.login_input{
	margin-left: 280px;
	width: 500px;
}
