@charset "UTF-8";

.login_warp{
	margin-top: 10px;
}

.content_table{
	margin-top: 10px;
}

.login_text_wrap{
	margin-top: 10px;
}

.login_container{
	align-content: center;
}

.content_wrap{
	width: 900px;
	margin-left: 200px;
	position: relative; 
	top: 50px;
}